<!--
  Generated template for the MyFilesPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>my-files</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>

  <ion-list>
    <ion-item *ngFor="let image of mediaArray">
      <ion-thumbnail item-start>
        <img *ngIf="image.media_type=='image'" [src]="'https://media.mw.metropolia.fi/wbma/uploads/' + (image.file_id | thumbnail: 'small' | async)">
        <img *ngIf="image.media_type=='video'" [src]="'https://media.mw.metropolia.fi/wbma/uploads/' + (image.file_id | thumbnail: 'screenshot' | async)">
      </ion-thumbnail>
      <h2>{{image.title}}</h2>
      <p>{{image.time_added | date: ('d.M.yyyy')}}</p>
      <p>{{image.description}}</p>
      <button (click)="viewItem(image)" ion-button clear item-end>View</button>
      <button (click)="deleteItem(image.file_id)" ion-button clear item-end>Delete</button>
      <button (click)="modifyItem(image)" ion-button clear item-end>Modify</button>
    </ion-item>
  </ion-list>

</ion-content>
